/* reset.css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

/* 기본, 레이아웃 css */
body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont,
   'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    width : 1280px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
}

.page-title {
    font-family: Pretendard;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}

.form-row {
    display: flex;
    gap: 40px;
}

.form-group {
    flex:1;
}

.label {
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    /* 잘 이해안됨 */
    display: inline-flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap; /* 안전장치 */
}

.label .required {
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px; 
    line-height: 24px;
    letter-spacing: 0%;
    color: #F66A6A;
    padding-left: 4px;
}

.input {
    width: 100%;
    height: 48px;
    opacity: 1;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    margin-top: 8px;
    background: var(--Gray-W, #FFFFFF);
    border: 1px solid var(--Gray-Gray-200, #D4D3D3)
}

.input::placeholder,
.textarea::placeholder {
    font-family: Pretendard Variable;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--Gray-Gray-400, #ABABAB);
}

.divider {
    width: 100%;
    height: 0px;
    opacity: 1;
    border-width: 1px;
    border: 1px solid var(--gray-100, #E4E4E4)
}