body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Noto Sans KR", Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    /* margin: 0 auto; */
    width: 1280px;
}

h1 {
    font-family: Pretendard;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    padding: 40px 0px;
    margin: 0;
}