/* reset.css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

/* 기본, 레이아웃 css */
body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont,
   'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    width : 1280px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0;
}

.page-title {
    font-family: Pretendard;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}

.form-row {
    display: flex;
    gap: 40px;
}

.form-group {
    flex:1;
}

.label {
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 8px;
    /* 잘 이해안됨 */
    display: inline-flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap; /* 안전장치 */
}

.label .required {
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px; 
    line-height: 24px;
    letter-spacing: 0%;
    color: #F66A6A;
    padding-left: 4px;
}

.input,.textarea {
    width: 100%;
    height: 48px;
    opacity: 1;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    background: var(--Gray-W, #FFFFFF);
    border: 1px solid var(--Gray-Gray-200, #D4D3D3)
}

.textarea {
    height: 336px;
}

.error-text {
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--red, #F66A6A);
    margin-top: 8px;
}

.zipcode-row {
    display: flex;
    gap: 8px;
    align-items: center;
}

.zipcode-row .zipcode {
    width: 82px;
}

.zipcode-row ~ .input {
    margin-top: 8px;
}

.input::placeholder,
.textarea::placeholder {
    font-family: Pretendard Variable;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--Gray-Gray-400, #ABABAB);
}

.divider {
    width: 100%;
    height: 0px;
    opacity: 1;
    border-width: 1px;
    border: 1px solid var(--gray-100, #E4E4E4)
}

.img-upload-group {
    display: flex;
    gap: 16px;
}

.img-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    opacity: 1;
    gap: 8px;
    border-radius: 8px;
    background: var(--gray-50, #F2F2F2);
}

.img-upload .icon {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("./icon/outline/add.svg");
}

.img-upload .text {
    font-family: Pretendard Variable;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--gray-600, #777777);
}


/* 버튼 */
.button-row {
    display: flex;
    justify-content: flex-end;
}

.button-group {
    display: flex;
    gap: 16px;
}

.btn {  
    height: 48px;
    padding: 0 16px;
    opacity: 1;
    gap: 8px;
    border-radius: 8px;

    font-family: Pretendard Variable;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.btn.outline {
    border-width: 1px;
    background: var(--gray-w, #FFFFFF);
    border: 1px solid var(--gray-B, #000000);
}

.btn.fill {
    background: #2974E5;
    border: 0;
    color: #FFFFFF;
}